.transcript-search-options,
.transcript-navigate-results {
    display: none;
}

.has-searched .transcript-search-options,
.has-searched .transcript-navigate-results {
    display: block;
}

.tcu-info {
    float: left;
    width: 200px;
}

.play-button {
    float: left;
    margin-right: -100px;
}

/* SPEAKER NAMES */
.speaker-name {
    float: right;
    width: 100px;
}

/*
.same-speaker {
    display: none;
}

.speaker-display {
    display: none;
}
.speaker-display.active {
    display: inline;
}
*/

/* DATA TIERS */
.speaker-tiers {
    margin-left: 200px;
}

.scroller .playing {
    background-color: #6cf;
}

.scroller ul {
    list-style: none;
}

/*
.scroller .tier {
    display: none;
}

.scroller .tier.active {
    display: block;
}
*/

.scroller ul {
    list-style: none;
}

/*
.scroller .tier {
    display: none;
}
.scroller .tier.active {
    display: block;
}
*/
/* Styles for .transcript-container: it fixes the scrolling issues with transcript_ui.js*/
.transcript-container {
    height: 500px;
    overflow-x: auto;
    transition: all 100ms ease 0s;
}

